*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    background-color: blue;
    background-image: -moz-repeating-linear-gradient(yellow,red);
    padding-bottom: 90px;
}
.logo{
    margin-right: 50px;
    margin-bottom: 100px;
}
.nav-section{

}
.grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    margin: 10px;
    padding: 30px;
}
.grid>:hover{
    background-color: green;
    cursor: pointer;
}
.l1{
    background-color: goldenrod;
    padding: 30px;
    color: white;
    font-weight: bolder;
    text-align: center;
}
.paragraph{
    text-align: center;
    color: white;
}