*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  font-size: 62.5%;
}
body{
background-color: #f1f2ea;
line-height: 1.5;
margin: 2rem;
padding: 1rem;
font-family: Arial, Helvetica, sans-serif;
}
section{
  background: #dde0ab;
  margin: 2rem;
}
button{
  padding: 1rem;
  border: none;
  background-color: #b9f373;
  border-radius: 0.5rem;
}

/* navigation section */
nav{
  background-color: #b9f373;
  display: flex;
  justify-content: space-between;
}
  
.title{
  padding: 2rem 10rem;
}
.title h1 {
  font-size: 5rem;
}
.title li a{
  text-decoration: none;
  font-size: 2rem;
}
ul .header{
  float: right;
  padding: 1rem;
  list-style: none;
}
.nav-toggle{
  display: none;
}
.dropdown{
  width: auto;
  background-color: aliceblue;
  position: absolute;
  z-index: 999;
  display: none;
}
.header:hover .dropdown{
  display: block;

}
.dropdown li{
  list-style: none;
  text-align: center;
}
.dropdown a{
  text-decoration: none;
  text-align: center;
  display: block;
  padding: 1rem;
}
/* hero-section */
.hero-section{
  display: flex;
  justify-content: center;
 /* display: grid;
 grid-template-columns: 50% 50%; */
 /* background-image: url(./images/student3.png); */
 background-size: cover;
}
.textarea{
  background-image: url(./images/student3.png);
  background-size: cover;
height: 100vh;
/* margin: 5rem; */
/* margin-left: 7rem; */
padding: 4rem 4rem;
width: 80%;
font-size: 2rem;
text-align: center;
color: white;
}
.textarea h5{
  margin-top: 5rem;
  font-size: -3rem;
  font-weight: 400;
}
.textarea p{
  font-size: 5rem;
  font-weight: bolder;
  
}
.textarea span{
  width: 100%;
}
.btn-down{
  margin: 5rem 2rem;
}
.down-btn{
  padding: 1.5rem;
  margin: 1rem;
  font-size: large;

}
.down-btn a{
  text-decoration: none;
  color: #000;
}
.hero-images{
  overflow: hidden;
}
.hero-images figure{
  position: relative;
  width: 500%;
  /* animation */
  animation: 20s hero-images infinite;
}
.hero-images img{
  float: left;
width: 20%;
height: 60rem;
 }
/* @keyframes hero-images{ 
  0%{
    left: 0;
  }
  20%{
    left: 0;
  }
  25%{
    left: 100%;
  }
  45%{
    left: -100%;
  }
  50%{
    left: -200%;
  }
  70%{
    left: -200%;
  }
  75%{
    left: -300%;
  }
  95%{
    left: -300%;
  }
  100%{
    left: -400%;
  }
} */
/* Top deals section */
.top-text{
  background-color: #b9f373;
}
.top-text h2{
  padding: 1rem;
font-size: 3.1rem;
}
.top-deals{
  display: flex;
  justify-content: space-around;
 gap: 10px;
}
.top-deals figure{
 width: 20rem;
 height: 80%;
 background-color: ghostwhite;
 border: 1px solid #c9d33b;
border-radius: 5px;
 margin: 3rem;
 transition: 1s;
}
.top-deals figure:hover{
  transform: scale(1.1);

}
/* .top-deals figure div{
  width: 100%;
  height: 50%;
} */
.top-deals figure img{
  width: 100%;
  text-align: center;
}

.explore-btn{
  margin-left: 80%;
  margin-bottom: 2rem;
  padding: 1rem;
  border: none;
  border-radius: 7px;
  width: 17%;
}
/* why-category section */
.why-category{
  display: grid;
  grid-template-columns: 50% 50%;
  background: #f1f2ea;
}
.why{
   margin: 1rem;
  padding: 2rem;
  grid-column: 1/3; 
}
.why h2{
  text-align: center;
  font-size: 3.1rem;
  margin-right: 5rem;
  padding: 2rem;
}
.why-icon{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 1rem;
  padding: 2rem;
  box-shadow: 7px 7px 10px 5px lightslategray ;
  text-align: center;
  border-end-end-radius: 5px;
  border-end-start-radius: 5px;
}
.why-icon i{
  color: #7eb838;
}
.category{
  grid-column: 1/3;
}
.category h2{
  padding: 0.5rem;
  border-left: 1rem solid #a8e958;
}
.category-icon{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  /* color: red; */
}
.category-icon figure{
  text-align: center;
  margin: 5rem;
  padding: 1rem;
  box-shadow: 7px 7px 10px 5px lightslategray ;
}
.category-icon i{
  color: #e0dd5b;
}
.all-categories{
margin-left: 43%;
margin-bottom: 2rem;
padding: 1rem;
width: 14.5%;
}
/* how it works section */
.works{
  text-align: center;
}
.works h2{
  margin-top: 3rem;
  font-size: 3.1rem;
}
.works-p{
  margin-top: 1rem;
  margin-bottom: 3rem;
  font-size: 1rem;
}
.works-icon{
  display: flex;
  justify-content: space-around;
  padding: 5rem;
}
.works-icon i{
  color: #a8e958;
}
/* footer */
.footer{
display: grid;
grid-template-columns: repeat(4, 1fr);
}
.footer li{
  display: block;
  padding: 0.5rem;
}
.copyright{
  text-align: center;
  margin: 3rem;
}